{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ArgraBusiness{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% comment %}
    {# This will be more stand-alone but has missing icons (since it's the free version of fa #}
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.css' %}">
    {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>

<body >
    <header>
        <!-- Navbar on large screens -->
        <div class="top ">
            <div class="bar black-background left-align large-nav">
                <a href="{% url 'home' %}" class="bar-item button blue"><i class="fa fa-home margin-right"></i>AgraBusiness</a>
                <a href="{% url 'produce-list' %}" class="bar-item button hover-white"><i class="fa fa-leaf margin-right"></i>Produce List</a>
                {% if user.is_authenticated %}
                <a href="{% url 'user' %}" class="bar-item button hover-white"><i class="fa fa-user margin-right"></i>Edit Account</a>
                <a href="{% url 'logout' %}" class="bar-item button hover-white"><i class="fa fa-sign-out margin-right"></i>Logout</a>
                <a class="bar-item right ">Last Login: {{ user.last_login }}</a>
                {% else %}
                <a href="{% url 'login' %}" class="bar-item button hover-white"><i class="fa fa-sign-in margin-right"></i>Login</a>
                <a href="{% url 'register' %}" class="bar-item button hover-white"><i class="fa fa-user-plus margin-right"></i>Register</a>
                {% endif %}
                <a href="#" class="bar-item button right hover-blue" title="Search"><i class="fa fa-search"></i></a>
            </div>

            <!-- Navbar on small screens -->
            <div class="bar-block black-background small-nav">
                {% if user.is_authenticated %}
                <a href="{% url 'home' %}" class="bar-item button blue"><i class="fa fa-home margin-right"></i>AgraBusiness</a>
                <a href="{% url 'user' %}" class="bar-item button"><i class="fa fa-user margin-right"></i>Edit Account</a>
                <a href="{% url 'logout' %}" class="bar-item button"><i class="fa fa-sign-out margin-right"></i>Logout</a>
                {% else %}
                <a href="{% url 'login' %}" class="bar-item button"><i class="fa fa-sign-in margin-right"></i>Login</a>
                <a href="{% url 'register' %}" class="bar-item button">Register</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <div class="display-container animate-opacity">
        <img src="{% block header_img %}{% static 'header.jpg' %}{% endblock %}" class="header-img">

        <h1 class="jumbo animate-top">AgraBusiness</h1>
        {% if user.is_authenticated %}
        Hi {{ user.username }}!<br/>
        Last Login: {{ user.last_login }}<br/>
        email: {{ user.email }}<br/>
        first_name: {{ user.first_name }}<br/>
        first_name: {{ user.last_name }}<br/>
        user_type: {{ user.userinfo.user_type }}<br/>
        billing_line1: {{ user.userinfo.payment_method.billing_address_line1 }}<br/>
        billing_line2: {{ user.userinfo.payment_method.billing_address_line2 }}<br/>
        billing_zip_code: {{ user.userinfo.payment_method.billing_zip_code }}<br/>
        billing_state: {{ user.userinfo.payment_method.billing_state }}<br/>
        billing_city: {{ user.userinfo.payment_method.billing_city }}<br/>
        {% for cc in user.userinfo.payment_method.creditcard_set.all %}
            card_name: {{ cc.name }}<br/>
            card_number: {{ cc.number }}<br/>
            card_ccv: {{ cc.ccv }}<br/>
            card_exp: {{ cc.exp }}<br/>
        {% endfor %}
        {% for ba in user.userinfo.payment_method.bankaccount_set.all %}
            bank_first_name: {{ ba.first_name }}<br/>
            bank_last_name: {{ ba.last_name }}<br/>
            bank_routing_number: {{ ba.routing_number }}<br/>
            bank_account_number: {{ ba.account_number }}<br/>
        {% endfor %}
        {% endif %}
        </div>
        <h2 class="animate-top">{% block page_name %}Base{% endblock %}</h2>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Contact Container -->
    <!--
    <div style='visibility: hidden', class="container padding-64 theme-l5" id="contact">
        <div class="row">
            <div class="col m5">
                <div class="padding-16"><span class="xlarge border-blue bottombar">Contact Us</span></div>
                <h3>Address</h3>
                <p>Swing by for a cup of coffee, or whatever.</p>
                <p><i class="fa fa-map-marker text-blue xlarge"></i>  Chicago, US</p>
                <p><i class="fa fa-phone text-blue xlarge"></i>  +00 1515151515</p>
                <p><i class="fa fa-envelope-o text-blue xlarge"></i>  test@test.com</p>
            </div>
        </div>
    </div>
    -->

    <!-- Footer -->
    <footer>

        <div class="container theme-l5 margin-top" id="contact">
            <span class="xlarge border-blue bottombar">Contact Us</span>
            <h3>Address</h3>
            <p>Buy and sell local farmer crops at Agrabusiness! Contact Us to learn more!</p>
            <p><i class="fa fa-map-marker text-blue xlarge"></i>  300 College Park</p>
            <p><i class="fa fa-phone text-blue xlarge"></i>  937-229-1000</p>
            <p><i class="fa fa-envelope-o text-blue xlarge"></i>  contact@agrabusiness.tk</p>
        </div>

        <div class="container theme-d1 center">
            <h4>Follow Us</h4>
            <a class="button large blue" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a class="button large blue" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a class="button large blue" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
            <a class="button large blue" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
            <a class="button large blue hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            <p>Powered by <a href="javascript:void(0)" target="_blank">DJANGO</a></p>
        </div>
    </footer>
</body>
</html>