{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}AgraBusiness{% endblock %}
{% block page_name %}Cart{% endblock %}
{% block head-tag %}
<link rel="stylesheet" href="{% static 'css/shopping-cart.css' %}">
{% endblock %}
{% block content %}

<section class="shopping-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="items">
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger">
                          <strong>{{ message.tags|title }}:</strong> {{ message }} {{ request.POST.quantity }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% for cart_item in user.cart.cartitem_set.all %}
                    <div class="product">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid mx-auto d-block image" src="https://udayton.edu/universitymarketing/_resources/img/logo-athletics.jpg">
                            </div>
                            <div class="col-md-8">
                                <div class="info">
                                    <div class="row">
                                        <div class="col-md-5 product-name">
                                            <div class="product-name">
                                                <a href="{% url 'produce-item' pk=cart_item.produce_item.id %}">{{ cart_item.produce_item.produce_name|title }}</a>
                                                <div class="product-info">
                                                    <div>Description: <span class="value">{{ cart_item.produce_item.description|capfirst|truncatewords:10 }}</span></div>
                                                    <div>Expiration: <span class="value">{{ cart_item.produce_item.expiration }}</span></div>
                                                    <div>Unit Cost: <span class="value">${{ cart_item.unit_cost|intcomma }}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 quantity">
                                            <label>Quantity:</label>
                                            <form action="{% url 'cartitem-update-qty' pk=cart_item.id %}" method="post">
                                                <input name="quantity" type="number" value ="{{ cart_item.quantity }}" class="form-control quantity-input">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-info">Update Qty</button>
                                            </form>
                                            <form action="{% url 'cartitem-delete' pk=cart_item.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                        <div class="col-md-3 quantity">
                                            <label>Subtotal:</label>
                                            <span class="price">${{ cart_item.subtotal|intcomma }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>Oh no!<br/>Cart is Empty!<br/>Checkout the <a href="{% url 'produce-list' %}">Produce List</a> to add items to the cart!</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="summary">
                    <h3>Summary</h3>
                    <div class="summary-item"><span class="text">Produce Items</span><span class="price">{{ user.cart.cartitem_set.all|length }}</span></div>
                    <div class="summary-item"><span class="text">Subtotal</span><span class="price">${{ user.cart.subtotal|intcomma }}</span></div>
                    {#<div class="summary-item"><span class="text">Discount</span><span class="price">$0</span></div>#}
                    <div class="summary-item"><span class="text">Tax</span><span class="price">({{ user.cart.tax_rate }}%) ${{ user.cart.tax|intcomma }}</span></div>
                    <div class="summary-item"><span class="text">Shipping</span><span class="price">$0</span></div>
                    <div class="summary-item"><span class="text">Total</span><span class="price">${{ user.cart.total|intcomma }}</span></div>
                    <form method="post">
                        {% csrf_token %}
                        <button class="btn btn-primary btn-lg btn-block">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}