{% extends 'checkout_base.html' %}

{% block form-tag %} <form method="post">
{% csrf_token %}
{% endblock %}

{% block credit-card-info %}
<div style="padding: 0px;" class="btn-block">
    <div style="padding: 15px 20px 15px 20px;" class="btn-outline-blue">
        <div class="row">
            <div class="form-group col-sm-8">
                <label for="card-holder">Card Holder</label>
                <input id="card-holder" type="text" class="form-control" value="{{ cc.name }}" disabled/>
            </div>
            <div class="form-group col-sm-4">
                <label for="">Expiration Date</label>
                <div class="input-group expiration-date">
                    <input type="text" maxlength="2" style="padding: .375rem .75rem;" class="form-control" value="{{ cc.exp|date:'m' }}" disabled/>
                    <span class="date-separator">/</span>
                    <input type="text" maxlength="4" style="padding: .375rem .75rem;" class="form-control" value="{{ cc.exp|date:'Y' }}" disabled/>
                </div>
            </div>
            <div class="form-group col-sm-8">
                <label for="card-number">Card Number</label>
                <input id="card-number" type="text" class="form-control" value="{{ cc.number }}" disabled/>
            </div>
            <div class="form-group col-sm-4">
                <label for="ccv">CCV</label>
                <input id="ccv" type="text" class="form-control" placeholder="{{ cc.ccv }}" disabled/>
            </div>
        </div>
    </div>
</div>
<div style="padding: 0px;" class="btn-block">
    <div style="padding: 15px 20px 15px 20px;" class="btn-outline-blue">
        <div class="row">
        <div class="form-group col-sm-12">
            {{ form.shipping_address_line1.errors }}
            {{ form.shipping_address_line1.label_tag }}
            {{ form.shipping_address_line1 }}
        </div>
        <div class="form-group col-sm-12">
            {{ form.shipping_address_line2.errors }}
            {{ form.shipping_address_line2.label_tag }}
            {{ form.shipping_address_line2 }}
        </div>
        <div class="form-group col-sm-5">
            {{ form.shipping_city.errors }}
            {{ form.shipping_city.label_tag }}
            {{ form.shipping_city }}
        </div>
        <div class="form-group col-sm-3">
            {{ form.shipping_state.errors }}
            {{ form.shipping_state.label_tag }}
            {{ form.shipping_state }}
        </div>
        <div class="form-group col-sm-4">
            {{ form.shipping_zip_code.errors }}
            {{ form.shipping_zip_code.label_tag }}
            {{ form.shipping_zip_code }}
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Complete Checkout</button>
    </div>
</div>
{% endblock %}

{% block form-tag-end %}
</form>
{% endblock %}