{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}AgraBusiness{% endblock %}
{% block page_name %}Checkout{% endblock %}
{% block head-tag %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}
{% block content %}

<section class="payment-form">
    {% block form-tag %}<form>{% endblock %}
        <div class="products">
            {% for cart_item in user.cart.cartitem_set.all %}
            <div class="item">
                <span class="price">${{ cart_item.subtotal|intcomma }}</span>
                <p class="item-name">{{ cart_item.produce_item.produce_name|title }}</p>
                <p class="item-description">{{ cart_item.produce_item.description|capfirst|truncatewords:10 }}</p>
                <p class="item-description">Exp: {{ cart_item.produce_item.expiration }}</p>
                <p class="item-description">Unit Cost: ${{ cart_item.unit_cost|intcomma }}</p>
                <p class="item-description">Quantity: {{ cart_item.quantity|intcomma }}</p>
            </div>
            {% empty %}
            <p>Oh no!<br/>Cart is Empty!<br/>Checkout the <a href="{% url 'produce-list' %}">Produce List</a> to add items to the cart!</p>
            {% endfor %}
            <div class="total">
                <p>Subtotal<span class="price">${{ cart.subtotal|intcomma }}</span></p>
                <p>Tax<span class="price">${{ cart.tax|intcomma }}</span></p>
                <p>Total<span class="price">${{ cart.total|intcomma }}</span></p>
            </div>
        </div>
        <div class="card-details">
            <p style="font-size:50px;" align="center">
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-stripe"></i>
                <i class="fab fa-cc-paypal"></i>
                <i class="fab fa-cc-jcb"></i>
                <i class="fab fa-cc-discover"></i>
                <i class="fab fa-cc-diners-club"></i>
                <i class="fab fa-cc-amex"></i>
            </p>
            {% block credit-card-info %}{% endblock %}
        </div>
    {% block form-tag-end %}</form>{% endblock %}
</section>
{% endblock %}