{% extends 'base.html' %}

{% block title %}AgraBusiness{% endblock %}
{% block page_name %}Produce Item{% endblock %}
{% block content %}

{% if object %}
    {{ object.produce_name }}
    {{ object.description }}
    {{ object.price }}
    {{ object.expiration }}


    <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <p>
            <div class="form-group">
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
        </p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add to Cart</button>
    </form>
{% endif %}

{% endblock %}