{% extends 'base.html' %}

{% block title %}Edit Account{% endblock %}

{% block content %}
  <h3><a href="{% url 'bankaccount' %}">Edit Bank Accounts</a> | <a href="{% url 'cc' %}">Edit Credit Cards</a></h3>
  <h2>Edit User</h2>
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>

    <form method="post">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ userinfo_form.as_p }}
      <h3>Payment Information</h3>
      {{ pmethod_form.as_p }}
      <button type="submit">Save changes</button>
    </form>
{% endblock %}