input {
	outline: none;
	border: none !important;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* ------------------------------------ */
.container {
	max-width: 1200px;
}

.slick3 {
  width: 80.64%;
}